<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<html>
<head>
<title>Chang.Jian</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
<!--
body {
    text-align:center
}
#main {
    width: 900px;
    margin:200px auto; 
}

.login {
    width:320px;
    margin:auto;
}
form {
    font-size:12px;
}
.LoginTable {
    border:1px solid #CCCCFF;
}
-->
</style>

</head>

<body>
<div id="main">

<div class="login">
<form action="" method="POST">
<table class="LoginTable" width="320px" cellspacing="0">
    <tr>
    <td colspan="100" align="center" bgcolor="green" style="font-size:12px;border-bottom:1px dotted gray;color:white">
            Chang.Jian博客后台
    </td>

    </tr>
    <tr>
        <th>&nbsp;&nbsp;用户名：</th>
        <td><input type="text" name="name" style="width:200px"/></td>
    </tr>
    <tr>
        <th>&nbsp;&nbsp;密　码：</th>
        <td><input type="password" name="password" style="width:200px"/></td>

    </tr>
    <tr>
    <td colspan="100" align="center">
    <input type="submit" value="登录">
    </td>
    </tr>
</table>
</form>
</div>


</div>
</body>
</html>
